/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body {
  margin: 0 auto;
}

.container {
  width: 1120px;
}

/* Posts and pages */

.sticky {
  display: block;
}

.entry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0;
}

.cat-links {
  padding-right: $base__space-unit;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* avatar */
.comment-body {
  display: flex;
}

.avatar {
  border-radius: 50%;
}

.comment-content {
  position: relative;
  top: -5px;
  left: 1rem;
}

.single-post {

  h2 {
    color: $color__brand-purple;
  }

  .fn {
    font-weight: 700;
    font-style: normal;
  }

  .comment-metadata {
    color: $color__brand-lightgrey;
  }
}

.children {
  margin-left: 4rem;
}

.reply {
  margin-bottom: $base__space-unit;
}

.comment-body {
  padding-top: $base__space-unit;
  margin-top: 0;
}

.children .odd,
.comment-list .even {
  .comment-body {
    border-top: $border__solid;
  }
}

.comment-list .even {}

.comment-reply-title {
  margin-top: 0;
  padding-top: $base__space-unit;
  border-top: $border__solid;
}

/* Comments - logged out */
.comment-form p:first-child {
  font-family: $font__main;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: $base__space-unit;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .comment-form-comment,
  .comment-form-url {
    width: 100%;
  }

  .comment-form-author,
  .comment-form-email {
    display: flex;
    flex-direction: column;
    width: 49%;
  }

  .comment-form-url {
    display: flex;
    flex-direction: column;
  }
}

/* Search Results - search.php */
.search-results,
.archive {
  h1 {
    margin: 2rem 0 $base__space-unit/2;

    span {
      font-family: $font__head;
    }
  }
}