/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $color__brand-green;
  font-size: $font__size * 0.9;
  font-family: $font__accent;
  color: $color__background-body;
  text-transform: uppercase;
  // line-height: 1;
  padding: .6rem 1rem .4rem;

  &:hover {
    background: #19625d;
  }

  &:active,
  &:focus {
    background: #19625d;
  }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  background: #f4f4f4;

  &:focus {
    color: #111;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
  margin-top: 10px;
}

textarea {
  padding-left: 3px;
  margin-top: 10px;
  width: 100%;
}

.required {
  color: $color__brand-orange;
}

/* Search Form */
// .site-header .search-form {
//   position: absolute;
//   right: 0;
//   top: 0;
// }

// .search-field {
//   font-family: $font__accent;

//   background-color: transparent;
//   background-position: 5px center;
//   background-repeat: no-repeat;
//   background-size: 24px 24px;
//   border: none;
//   cursor: pointer;
//   height: 28px;
//   margin: 3px 0;
//   // padding: 0 0 0 34px;
//   position: relative;
//   transition: width 400ms ease, background 400ms ease;
//   width: 110px;
// }



// .search-form .search-submit {
//   display: block;
// }

.search-form {
  .search-field {
    margin-top: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 26px;
    width: 175px;
    font-family: $font__accent;
    display: none;
    transition: 2s ease-in-out;
    text-decoration: none;

    &:focus {
      border: none;
      cursor: text;
      outline: 0;
      width: 175px;
    }
  }
}