/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  font-family: $font__accent;
  text-transform: uppercase;

  // fixed header
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

}

.home .site-header,
.blog .site-header,
.single .site-header,
.page-template-find-us .site-header {
  border-bottom: $border__solid;
  background: rgba(255, 255, 255, 0.8);
}

.page-template-about .site-header {
  border: 0;
  background: transparent;
}

/* This will ensure your site looks correct
 * when the admin bar is displaying.
--------------------------------------------- */
body.admin-bar .site-header {
  top: 32px;
}

.header {
  margin: 0 auto;
  display: flex;

  li {
    padding: $base__space-unit / 2;
  }

  .site-branding {
    a {
      height: 100%;
      display: flex;

      img {
        height: 35px;
        align-self: center;
        width: 30%;
      }
    }
  }
}

.main-navigation {
  display: flex;
  justify-content: flex-end;

  .search-form {

    fieldset {
      border: none;
      padding: 0.75rem 0;

      .search-field {
        display: none;
      }

      .search-submit {
        border: 0;
        background: none;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}

.home .search-submit,
.blog .search-submit,
.single .search-submit,
.page-template-find-us .search-submit {
  color: $color__brand-green;
}

.page-template-about .search-submit {
  color: $color__background-body;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
}

.home,
.blog,
.single,
.page-template-find-us {
  /* This Should Be Equal to the Height of your
  * fixed header bar. */
  padding-top: 52.5px;
}

.page-template-about {
  padding-top: 0;
}