/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


/* Journal - index.php */
.hfeed.site {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';

  .site-header {
    grid-area: header;
  }

  .site-content {
    grid-area: content;
    margin: 0 auto;

    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr;
    // grid-template-rows: minmax(max-content, 100px);
    grid-template-areas:
      'main main main sidebar';

    .content-area {
      grid-area: main;
      padding: 50px 55px 0 0;
      border-right: $border__solid;
    }

    .widget-area {
      grid-area: sidebar;
      align-self: flex-start;
    }
  }

  .site-footer {
    grid-area: footer;
    align-self: flex-end;
  }
}

.blog .entry-header {
  position: relative;
  color: #fff;

  .entry-title {
    position: absolute;
    left: 0;
    top: $base__space-unit / 2;
    background-color: $color__brand-green;
    padding: 10px 20px;
    width: 70%;
    line-height: 1.25;

    a {
      color: #fff;

      &hover {
        color: $color__brand-yellow;
      }
    }
  }

  .entry-meta {
    font-family: $font__accent;

    background-color: $color__brand-green;
    text-transform: uppercase;
    position: absolute;
    bottom: 6px;
    right: 0;
    padding: 5px 25px;
  }
}

.entry-content {

  .button {
    border: 1px solid #000;
    border-radius: 0;
    background: $color__background-body;
    box-shadow: none;
    color: $color__text-main;
    font-size: $font__size * 0.9;
    font-family: $font__accent;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;

    &:hover {
      border: 1px solid $color__brand-green;
      background: $color__brand-green;
      color: $color__background-body;
    }
  }
}